{% extends "pages/baseAdmin.html" %}

{% block title %}
We Learn | Add Post
{% endblock title %}

{% block object%}
Add Post
{%endblock%}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">Create a post</div>
                    <div class="panel-body">
                        <form action="/manage/AddPost" method="POST">

                            <div class="form-group">
                                <label>Title : </label>
                                <input class="form-control" type="text" name="title" />
                            </div>

                            <label>Category : </label>
                            <select class="form-control" name="CatID">
                                {% for cat in lst_cat %}
                                <option value="{{cat.id}}">
                                    {{cat.title}}
                                </option>
                                {%endfor %}
                                <br />
                            </select>

                            <div class="form-group">
                                <label>Description : </label>
                                <input class="form-control" type="text" name="descripton" />
                            </div>

                            <div class="form-group">
                                <label>Content : </label>
                                <textarea name="content" id="ten">

                                </textarea>
                                <script>CKEDITOR.replace('ten', { height: 600 });</script>
                            </div>
                            <div class="form-group">
                                <input class="form-control btn btn-primary" type="submit" value="ADD" id="test" onclick="Mess('Update succesfully')" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock content %}