{% extends "pages/baseAdmin.html" %}

{% block title %}
We Learn | Posts
{% endblock title %}

{% block object%}
Posts
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List of post</h3>
                <br />
                <a href="/manage/CreatePost" class="btn btn-info" style="float:right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Date created</th>
                            <th>Author</th>
                            <th style="width: 10%">Function</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in lst_post %}
                        <tr>
                            <td>
                                {{post.title}}
                            </td>
                            <td>
                                {{post.description}}
                            </td>
                            <td>
                                {% for cat in lst_cat %}
                                {% if cat.id == post.catID %}
                                {% with patient as p %}
                                {{cat.title}}
                                {% endwith %}
                                {% else %}
                                {% with patient.parent as p %}
                                {% comment %} HTML CODE {% endcomment %}
                                {% endwith %}
                                {% endif %}
                                {%endfor %}<br />
                            </td>
                            <td>
                                {{post.dateCreate|date:"h:i Y-m-d"}}
                            </td>
                            <td>
                                {{post.creator}}
                            </td>
                            <td style="text-align: center">
                                <a href="/manage/PostDetail/id={{post.id}}" style="display: inline-block">Edit</a>
                                |
                                <a href="/manage/postDelete/id={{post.id}}" style="display: inline-block">Delete</a>
                                
                            </td>
                        </tr>
                        {%endfor %}
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>















{% endblock content %}