{% extends "pages/base.html" %}
<title>{% block title %}1510289 | Page not found{% endblock title %}</title>
{% block Logo %}
<div class="logo">
    <a href="/" title="Welearn">Welearn</a>
</div>
{% endblock Logo %}


{% block MenuLanguage%}
<style>
        #HeaderMenu{
            display: none;
        }
    </style>
{% endblock MenuLanguage %}

{% block content %}

<div id="main-wrapper-one-column" class="clearfix">
    <div class="clearfix">
        <div id="programiz-main-content">
            <section class="main-content">
                <h1>Page You are Looking is Not Found</h1>
                <div class="clearfix">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">
                            <div class="content">
                                <div id="node-367" class="node node-basic clearfix" about="/page-not-found" typeof="sioc:Item foaf:Document">
                                    <span property="dc:title" content="Page You are Looking is Not Found" class="rdf-meta element-hidden"></span>
                                    <div class="content clearfix">
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even" property="content:encoded">
                                                    <p>The page you're looking for is unavailable. It is either removed
                                                        or moved to a new location.</p>
                                                    <div class="item-list">
                                                        <h3>Here is what you can do</h3>
                                                        <ul style="margin-bottom:0;">
                                                            <li>Check your url just in case</li>
                                                            <li>Use the navigational links above</li>
                                                            <li>Back to <a href="/" title='back to home'>home</a>
                                                            </li>
                                                            <li>Choose another programming language</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                    <div class="content-bottom">
                        <div class="region region-content-bottom">
                            <div id="block-block-120" class="block block-block">


                                <div class="content">
                                    <p style="padding:15px;margin:20px 20px 0 10px;text-align:center;background:#eee"><a
                                            href="/contact" title="Contact us">Contact us</a> if you find a broken link</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}