{% extends "pages/base.html" %}
<title>{% block title %}Welearn - About us{% endblock title %}</title>
{% block Logo %}
<div class="logo">
    <a href="/" title="Welearn-About us">Welearn</a>
</div>
{% endblock Logo %}


{% block MenuLanguage%}
<style>
    #HeaderMenu {
        display: none;
    }
</style>
{% endblock MenuLanguage %}

{% block content %}
<div id="main-wrapper-one-column" class="clearfix">
    <div class="clearfix">
        <div id="we-lern-main-content">
            <section class="main-content">
                <h1>About Us</h1>


                <div class="clearfix">


                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="content">
                                <div id="node-363" class="node node-basic clearfix" about="/about-us" typeof="sioc:Item foaf:Document">
                                    <span property="dc:title" content="About Us" class="rdf-meta element-hidden"></span>
                                    <div class="content clearfix">
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even" property="content:encoded">
                                                    <h3>The Problem</h3>
                                                    <div>When I started learning C/C++ in college, I found that there
                                                        was a lack of simple tutorials with examples. There wasn’t any
                                                        official documentation as well and it was really hard for
                                                        students like me to find information that is simple to grasp.</div>
                                                    <div>In my free time, I started writing tutorials and sharing them
                                                        on we-lern after late 2011. What started as a hobby has now
                                                        grown into a full-time job.&nbsp;</div>
                                                    <blockquote>
                                                        <div class="body-complementary-field" style="
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.15em;
            padding: 18px;
            margin: -4px 0;
            color: #444;
        ">1.5
                                                            million monthly users rely on we-lern to learn
                                                            programming</div>
                                                    </blockquote>
                                                    <div>Our main focus at we-lern is simplicity. There are
                                                        programmers all over the world of different levels of
                                                        programming experience and having different English
                                                        proficiency.&nbsp;</div>
                                                    <hr>
                                                    <h3>What we offer</h3>
                                                    <div>Our goal at we-lern is to create tutorials that are simple
                                                        to read, understand and emulate. We make sure every concept is
                                                        explained with easy to understand examples.&nbsp;</div>
                                                    <div>We are a small team of passionate developers working to make
                                                        we-lern a reliable source of programming knowledge, focussing
                                                        on battle-tested programming languages like C, C++, Python and
                                                        R.</div>
                                                    <hr>
                                                    <h3>What we’re working on</h3>
                                                    <div>The we-lern team is always working to make it better
                                                        resource for our users. We constantly update our articles to
                                                        improve their quality and correctness.</div>
                                                    <div>Recently, we have added widgets in our Python tutorials where
                                                        you can compile and run python commands as you learn
                                                        them.&nbsp;</div>
                                                    <div>Our team is also working to add Java tutorials to help our
                                                        users all over the world learn it through our simple teaching
                                                        methodology.</div>
                                                    <hr>
                                                    <h3>We’d love to talk!</h3>
                                                    <div>If you wish to know more about us or <a href="/advertise">advertise</a>
                                                        on our website, feel free to <a href="/contact">contact us</a>
                                                        and we will get back to you as soon as possible.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}