{% extends "pages/base.html" %}
<title>{% block title %}Welearn - Advertise {% endblock title %}</title>
{% block Logo %}
<div class="logo">
    <a href="/" title="Welearn">Welearn</a>
</div>
{% endblock Logo %}


{% block MenuLanguage%}
<style>
    #HeaderMenu {
        display: none;
    }
</style>
{% endblock MenuLanguage %}

{% block content %}


<div id="main-wrapper-one-column" class="clearfix">
    <div class="clearfix">
        <div id="welearn-main-content">
            <section class="main-content">
                <h1>Advertise With Us</h1>


                <div class="clearfix">


                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="content">
                                <div id="node-494" class="node node-basic clearfix" about="/advertise" typeof="sioc:Item foaf:Document">
                                    <span property="dc:title" content="Advertise With Us" class="rdf-meta element-hidden"></span>
                                    <div class="content clearfix">
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even" property="content:encoded">
                                                    <div style="background: #EEE;">
                                                        <h2 style="width: 80%;     border-radius: 4px;
        margin: 0 auto; text-align: center; padding: 50px 0;">44
                                                            Million PageViews Last Year and 2.5 Million Visitors Each
                                                            Month</h2>
                                                    </div>

                                                    <h3>Traffic Source:</h3>

                                                    <hr>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>Medium</th>
                                                                <th>Percent</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Organic</td>
                                                                <td>85%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Direct</td>
                                                                <td>12%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Other</td>
                                                                <td>3%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <h3>Demographics:</h3>

                                                    <hr>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>Origin</th>
                                                                <th>Percent</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Asia</td>
                                                                <td>65%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>America</td>
                                                                <td>20%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Europe</td>
                                                                <td>11%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Oceania</td>
                                                                <td>1%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Africa</td>
                                                                <td>3%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <h2>Ad Formats:</h2>

                                                    <hr>
                                                    <h3>Top Banner (728*90)</h3>

                                                    <p>Top banner will be resized to fit the screen in case of smaller
                                                        screen. Or, you can use alternative 320*100 / 468*60 pixel ads.</p>

                                                    <p><strong>CPM:</strong> $1.20</p>

                                                    <hr>
                                                    <h3>Middle Rectangle (300*250)</h3>

                                                    <p>Served at the middle of the sidebar. For smaller screen, the
                                                        middle rectangle is served either at the middle or at the
                                                        bottom of the content.</p>

                                                    <p><strong>CPM:</strong> $0.75</p>

                                                    <p style="    text-align: center;
            background: #EEE;
            padding: 18px 10px;
            border-radius: 3px;
            margin-top: 39px;
            margin-bottom: -10px;">Feel
                                                        free to shoot us an email at <strong>contact [@] welearn.com</strong>
                                                        or fill out this <a href="/advertising" title="Advertise With welearn">form</a>.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}