{% extends "pages/base.html" %}
<title>{% block title %}Welearn-Contact us{% endblock title %}</title>
{% block Logo %}
<div class="logo">
    <a href="/" title="Welearn">Welearn 1.0 | Contact</a>
</div>
{% endblock Logo %}


{% block MenuLanguage%}
<style>
    #HeaderMenu {
        display: none;
    }
</style>
{% endblock MenuLanguage %}

{% block content %}

<div id="main-wrapper-one-column" class="clearfix">
    <div class="clearfix">
        <div id="programiz-main-content">
            <section class="main-content">
                <h1>Contact Us</h1>


                <div class="clearfix">


                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="content">
                                <div id="node-366" class="node node-webform clearfix" about="/contact" typeof="sioc:Item foaf:Document">
                                    <span property="dc:title" content="Contact Us" class="rdf-meta element-hidden"></span>
                                    <div class="content clearfix">
                                        <form class="webform-client-form webform-client-form-366 webform-conditional-processed"
                                            action="/contact" method="post" id="webform-client-form-366" accept-charset="UTF-8">
                                            <div>
                                                <div class="form-item webform-component webform-component-textfield webform-component--your-name">
                                                    <label class="element-invisible" for="edit-submitted-your-name">Name
                                                        <span class="form-required" title="This field is required.">*</span></label>
                                                    <input required="required" placeholder="Enter your name" type="text"
                                                        id="edit-submitted-your-name" name="submitted[your_name]" value=""
                                                        size="60" maxlength="128" class="form-text required">
                                                </div>
                                                <div class="form-item webform-component webform-component-email webform-component--e-mail">
                                                    <label class="element-invisible" for="edit-submitted-e-mail">E-mail
                                                        <span class="form-required" title="This field is required.">*</span></label>
                                                    <input required="required" class="email form-text form-email required"
                                                        placeholder="Enter Email Address" type="email" id="edit-submitted-e-mail"
                                                        name="submitted[e_mail]" size="60">
                                                </div>
                                                <div class="form-item webform-component webform-component-textfield webform-component--error-page-link">
                                                    <label class="element-invisible" for="edit-submitted-error-page-link">Feedback/Error
                                                        Page Link <span class="form-required" title="This field is required.">*</span></label>
                                                    <input required="required" placeholder="Error Page Link" type="text"
                                                        id="edit-submitted-error-page-link" name="submitted[error_page_link]"
                                                        value="" size="60" maxlength="128" class="form-text required">
                                                </div>
                                                <div class="form-item webform-component webform-component-textarea webform-component--message">
                                                    <label class="element-invisible" for="edit-submitted-message">Message
                                                        <span class="form-required" title="This field is required.">*</span></label>
                                                    <div class="form-textarea-wrapper"><textarea required="required"
                                                            placeholder="Enter message" id="edit-submitted-message"
                                                            name="submitted[message]" cols="60" rows="10" class="form-textarea required"></textarea></div>
                                                </div>
                                                <input type="hidden" name="details[sid]">
                                                <input type="hidden" name="details[page_num]" value="1">
                                                <input type="hidden" name="details[page_count]" value="1">
                                                <input type="hidden" name="details[finished]" value="0">
                                                <input type="hidden" name="form_build_id" value="form-4Nq6U0zIDOjDbxZ7FpuyDXda6Vxtjnbw2Eb5XAW-8-s">
                                                <input type="hidden" name="form_id" value="webform_client_form_366">
                                                <div class="captcha"><input type="hidden" name="captcha_sid" value="14604">
                                                    <input type="hidden" name="captcha_token" value="c2cad7b41afeb44c81728da2a149b329">
                                                    <input type="hidden" name="captcha_response" value="Google no captcha">
                                                    </textarea></div>
                                            </div>
                                    </div>
                                    <div class="form-actions"><input class="webform-submit button-primary form-submit"
                                            type="submit" name="op" value="Submit"></div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>




    </div>
    </section>
</div>
</div>
</div>
{% endblock content %}